        ::-webkit-scrollbar 
        {
          display:none;
        }
        body, html
        {
          scrollbar-width: none; /* Firefox 64 */
          font-family: 'Roboto Condensed', sans-serif;  
        }
/*HOME*/
       
       
       
        #home
        {
          background-image:
          linear-gradient( 100deg, transparent 0%, transparent 50%, #010616 73%, #010616 100% ),
          linear-gradient( 175deg, transparent 0%, transparent 50%, #010616 73%, #010616 100% ),
          url(1280.webp),
          linear-gradient( 90deg,  #000000, #010616 100% );
          background-size: contain;
          width: 100%;
          position:relative;
          height: 100vh;
          background-repeat: no-repeat;
          display: flex;
          flex-direction: row;
          justify-content: center;
          text-align: center;
          align-items: flex-end;

        }
        #home .row
        {
          text-align: center;
          align-items: center;     
        }
        #home p
        {
          color: white;
          font-size: medium;
        }
        #home img
        {
          width: 80%;
          height: auto;
          margin-top: 2rem;
        }
        #home svg
        {
          width: 100%;
          height: auto;
          margin-bottom: 2rem;
        }
        @media (max-width: 912px)  
        {
          #home
          {
            background-image:
            linear-gradient( 109deg, transparent 0%, transparent 50%, #010616 73%, #010616 100% ),
            linear-gradient( 175deg, transparent 0%, transparent 50%, #010616 73%, #010616 100% ),
            url(mobile.webp),
            linear-gradient( 90deg,  #000000, #010616 100% );   
            align-items: flex-end;    
          }
          #home p
          {
            font-size: 12px;
            margin-bottom: 2rem;
          }
        }
/*sgv*/
        #logo15anos 
        {
          stroke-width: 0px;
          width: 100%;
          height: auto;
          transition: transform 0.5s ease-out;
        }
        .quinze 
        {
          fill:none;
          stroke:#C79848; 
          stroke-width:2;
          stroke-dasharray: 1000;
          stroke-dashoffset: 1000;
          -webkit-animation: summerbird-quinze 3.0s linear forwards 0.5s;
          animation: summerbird-quinze 3.0s linear forwards 0.5s;
        }
        @-webkit-keyframes summerbird-quinze 
        {
          0% 
          {
            fill-opacity: 0;
          }
          80% 
          {
            fill-opacity: 0;
          }
          100% 
          {
            fill-opacity: 1;
            fill: #C79848;
            stroke-dashoffset: 0;
          }
        }
        .year 
        {
          fill:none;
          stroke:#800707; 
          stroke-width:5;
          stroke-dasharray: 1000;
          stroke-dashoffset: 1000;
          animation:  dash 5s linear forwards;
        }
        @keyframes dash 
        {
          from 
          {
            stroke-dashoffset: 822;
          }
          to 
          {
            stroke-dashoffset: 0;
          }
        }
        
/* botão enviar formulario*/
        #envform
        {
          margin-left: 5px;
          font-weight:700;
          text-transform: uppercase;
          border:none;
          padding:5px 15px 5px 15px;
          cursor: pointer;
          display:inline-block;
          text-decoration: none;
          background:#0f77ff;
          color:#fff;
          box-shadow:0 5px 0 #0d5fca;  
        }  
        #envform:hover
        { 
          background:#0f77ff;
          box-shadow:0 5px 0 #0d5fca;
          color: rgb(255, 255, 255);
        }
        #envform:active
        {
          position:relative;
          top:5px;
          box-shadow:none;
        }


/* formulario*/
        #formulario
        {
          margin-bottom: 4rem;
        }

/*botão link*/
        #linkclique
        {
          color: rgb(0, 19, 105);
          font-size: 25px;
        }
        #linkclique:hover
        { 
          background:rgb(0, 19, 105);
          box-shadow:0 5px 5px #4d4d4dcc;
          color: rgb(255, 255, 255);
          padding: 10px;
          border-radius: 10px;     
        }
  
