
#titulo{
  margin: 2.5rem; 
  font-family: 'Montserrat', sans-serif;
}


.balao{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.500);
  color: white;
  text-shadow: 0 0 5px #000;
  font-size: 30px;
  text-align: center;
  height: 600px;  
  width: 100%;
  overflow-y: hidden;
  position: relative;
}

.balao #subtitulo{
  font-size: 14px;
}

.parallax
{
  background-image: url(multiple.webp);
  background-size:100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  line-height: 300px; 
  overflow: hidden;
  background-attachment: fixed; 
  height: 600px; 
  background-position: top center; 
}

.linha{
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}